dtd/domande.dtd

<!ELEMENT domande (domanda*)>
<!ELEMENT domanda (codice_gioco, titolo, contenuto, autore, data, risposta+)>
<!ELEMENT codice_gioco (#PCDATA)>
<!ELEMENT titolo (#PCDATA)>
<!ELEMENT contenuto (#PCDATA)>
<!ELEMENT autore (#PCDATA)>
<!ELEMENT data (#PCDATA)>
<!ELEMENT risposta (contenuto, autore, data, punteggio)>
<!ATTLIST risposta id CDATA #REQUIRED>
<!ELEMENT punteggio (utilita, supporto)>
<!ELEMENT utilita (#PCDATA)>
<!ELEMENT supporto (#PCDATA)>